.count-button {
    border-radius: 999px;
    border: none;
    width: 50px;
    height: 30px;
    background-color:crimson;
    color: white;
    cursor: pointer;
}
.count-button:hover {
  opacity: calc(50%);
}

.item-count {
    font-size: large;
    margin: 10px;
}
 
.add-to-basket-button {
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 999px;
    border: none;
    width: 100px;
    height: 30px;
    background-color:crimson;
    color: white;
}
.add-to-basket-button:hover {
  opacity: calc(50%);

}
  