.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add other styles as needed */
  }
  
.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Add other styles as needed */
}
  
.cart-item {
    list-style-type: none;
    height: 500px;
    width: 300px; /* Adjust width as desired */
    margin: 10px; /* Adjust margin as desired */
    /* Add other styles as needed */
}
.cart-item img {
    height: 300px;
    width: 200px;
}
.count-button {
    border-radius:30%;
    border: none;
    width: 30px;
    height: 30px;
    background-color:crimson;
    color: white;
}
.count-button:hover {
  opacity: calc(50%);

}

.item-count {
    font-size: large;
    margin: 10px;
}
 
.add-to-basket-button {
    margin-left: 10px;
    border-radius:5%;
    border: none;
    width: 100px;
    height: 30px;
    background-color:crimson;
    color: white;
}
.add-to-basket-button:hover {
  opacity: calc(50%);

}
  