.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.cart-item {
    list-style-type: none;
    height: 500px;
    width: 300px; 
    margin: 10px; 
}
.cart-item img {
    border: none;
    height: 300px;
    width: 200px;
}
.cart-item img:hover{
   transform: translate(-0px, -10px);
  opacity: 80%;
}
.price {
  color:red;
  font-weight: 100;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}